<section data-ng-controller="HomeController">
	<p>
		Please be sure you have javascript enabled and you are using a modern browser. <br/>
		This site has only been tested on IE10 and a recent version of Chrome browser.
	</p>
	<div data-ng-show="!showMainMenu">
		Signin or Signup to continue.
	</div>
    <div class="menu-tiles ng-binding" data-ng-show="showMainMenu" mean-token-editable>
		<div>
			<div class="menu-tile ng-binding" ui-sref="datamanagement">
				<h2 class="menu-tile-header">Data</h2>
				<p>Manage your data sources</p>
				<span class="glyphicon glyphicon-hdd" />
			</div>
			<div class="menu-tile-TBD ng-binding" ui-sref="area2" >
				<h2 class="menu-tile-header">Area 2</h2>
				<p>Second Area</p>
				<span class="glyphicon glyphicon-stats" />
			</div>
		</div>
		<div>
			<div class="menu-tile-TBD ng-binding" ui-sref="area3">
				<h2 class="menu-tile-header">Area 3</h2>
				<p>Third Area</p>
				<span class="glyphicon glyphicon-leaf" />
			</div>
			<div class="menu-tile-TBD ng-binding" ui-sref="area4">
				<h2 class="menu-tile-header">Area 4</h2>
				<p>Fourth Area</p>
				<span class="glyphicon glyphicon-barcode" />
			</div>
		</div>
	</div>
</section>